.homepage-form-card {
    max-width: 23rem;
    padding: 0 !important;
}

.homepage-date-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.percentage-pill {
    margin-left: 4px;
}

.calories-form-card {
    padding: 0 !important;
    margin: 0 10px;
}

#progress-text {
    font-size: 1.5em;
}